#logo-link {
    height: 50px;  
}

#fixed-link {
    position: fixed; 
    top: 0; 
    left: 0;
    z-index: 9999;
}

#logo-navbar{
    height: 50px;
    margin: 0;
    position: relative;
    left: -15px;
    top: -15px;
}

#logo-link-background{
    background-color: black;
    display: inline;
    z-index: 9999;
}

#search{
   background-color:rgb(240, 240, 240); 
   z-index: 999;
}

.place-for-logo{
    margin-left: 70px;
}

a:hover {
  cursor: pointer;  
}

.navbar{
    margin-bottom: 0px;
    border-radius: 0px;
    /* padding-left: 50px; */
}

.glyphicon {
    font-size: 15px;
    /* 0.8vw */
}

.form {
    width: 100%;
  }
  
.full-width {
    width: 100%;
}
  
.search-option {
    display:block; 
    text-decoration: none;
}
