h2 {
    text-align: center;
}

.scrollable {
    height:150px;
    overflow-y: scroll;
}

button{
    margin: 15px;
}

.round2 {
    border: 2px solid rgb(235, 234, 234);
    border-radius: 8px;
    background-color: whitesmoke;
}

.Date{
    padding: 0px;
    margin: 0px;
}


.object-fit_contain { 
    margin: 10px 0px;
    min-height: 200px;
    max-height: 200px;
    object-fit: contain ;
    position: relative;
    object-position: center;
    background-color: aliceblue;
    z-index: 1;
}

.icon {   
    position: absolute;
    bottom: 20%;
    right: 10%;
    transition: .3s ease;
    z-index: 2;  
}

#favorite.material-icons 
{
    font-size: 36px;
    cursor: pointer;
    border: 3px;
    color: black;
    z-index: 2;
}

@media only screen and (max-width: 1200px) {
    .object-fit_contain { 
        position: relative;
        width: 100%;
        min-height: 170px;
        max-height: 170px;
        object-fit: contain ;
        object-position: center;
        background-color: aliceblue;
        z-index: 1;
    }
    
    @media only screen and (max-width: 990px) {
        .object-fit_contain { 
            position: relative;
            width: 100%;
            min-height: 200px;
            max-height: 600px;
            object-fit: contain ;
            object-position: center;
            background-color: aliceblue;
            z-index: 1;
        }
    }
}
h2 {
    text-align: center;
}
