@import '~@angular/material/theming';
@include mat-core();

$car-info-primary: mat-palette($mat-indigo);
$car-info-accent:  mat-palette($mat-amber, A200, A100, A400);
$car-info-warn:    mat-palette($mat-indigo);

$car-info-theme: mat-light-theme($car-info-primary, $car-info-accent, $car-info-warn);

@include angular-material-theme($car-info-theme);